<div class="container">
  <h1><%= @post.title %></h1>
  <h3><%= @post.url %></h3>
  <h4><%= @user.name %></h4>
  <form action="/comments/new" method="post">
    <textarea name="text" placeholder="enter comment"></textarea>
    <br/><br/>
    <input type="hidden" name="post_id" value="<%= @post.id %>"/>
    <input type="submit" value="add comment"/>
  </form>
  <ul>
    <% @comments.each do |comment| %>
      <li><%= comment.text %></li>
    <% end %>
  </ul>
</div>
